header {
  border: 1px solid black;
  outline-style: solid;
  background-color: blue;
}

header h1 {
  color: white;
}

body {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
}

section:first-child {
  max-width: 23vw;
}

section:last-child {
  max-width: 12vw;
}
