header {
  border: 1px solid black;
  outline-style: solid;
  background-color: #034f84;
}

header h1 {
  color: white;
}

body {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
}

section:first-child {
  max-width: 33vw;
  margin-top: 43px;
  padding-right: 63px;
}

section h1:first-child {
  border-top-color: #b7d7e8;
  border-top-style: solid;
  border-top-width: 14px;
  padding-top: 10px;
}

section p:first-child {
  text-align: left;
}

section:last-child {
  max-width: 20vw;
  margin-top: 94px;
}

section h1:last-child {
  padding-top: 0px;
  margin-top: 6px;
  text-align: left;
  font-size: 19px;
}

section p:last-child {
  text-align: left;
  font-size: 13px;
  padding-top: 0px;
  margin-top: 0.5em;
}

.content {
  display: flex;
  justify-content: center;
}

footer {
  border: 1px solid black;
  outline-style: solid;
  background-color: #034f84;
  height: 5em;
  position: fixed;
  left: 6px;
  bottom: 7px;
  width: 99%;
}
